{{> header}}
<div id="mainpage">
  <div class="auth">
    <h1> Log in to cheepr </h1>
    <form id="simplelogin" method="POST" action="/users/simpleauth">
      <input type="text" id="simpleusername" name="username" autocomplete="off" autofocus></input>
      <button type="submit" id="loginbutton">Log in!</button>
    </form>
  </div>
</div>
